.header {
  background-color: black;
  color: #ffffff;
}

.wrapper__header, .wrapper__donate {
  display: flex;
  height: 80px;
  align-items: center;
  @media screen and (max-width: 1200px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}
