.logo__container {
  position: relative;
  width: 82px;
  height: 52px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  &:hover {
    
    .logo__title {
      color: $TEXT-HOVER-COLOR;
      transition: all 0.5s;
      &::before {
        background-image: url("../../assets/icons/bamboo_orange.png");
        transition: all 0.5s;
      }
    }
  }
}

.logo__title {
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 120%;
  text-align: center;
  transition: all 0.5s;
  &::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 21px;
    background-image: url("../../assets/icons/bamboo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.5s;
  }
}

.header {
  .logo__title {
    padding-top: 4px;
    padding-left: 2px;
    &::before {
      bottom: 6px;
      left: 9px;
    }
  }
  @media screen and (max-width: 800px) {
    .logo__container{
      width: 47px;
      height: 29px;
      border: 0;
      .logo__title_header {
        font-size: 12px;
        padding-top: 0;
        &::before {
          width: 8px;
          height: 15px;
          bottom: 2px;
          left: 4px;
        }
      }
    }
  }
}

.footer {
  .logo__title {
    &::before {
      bottom: 8px;
      left: 9px;
    }
  }
  @media screen and (max-width: 610px) {
    .container__logo {
      padding-top: 10px;
    }
    .logo__container {
      border: 0;
      width: 128px;
      height: 23px;
      margin: 0 auto;
      .logo__title {
        &::before {
          left: 72px;
          bottom: 4px;
        }
      }
    }
  }
}

.header__nav .logo_header_nav {
  display: none;
  margin-right: auto;
  @media screen and (max-width: 800px) {
    display: block;
    color: $TEXT-ORANGE-COLOR;
    .logo__container {
      width: 66px;
      height: 42px;
      border: 1px solid $TEXT-ORANGE-COLOR;
      .logo__title {
        font-size: 1.5rem;
        padding-top: 2px;
        padding-left: 0;
        &::before {
          bottom: 4px;
          left: 6px;
          background-image: url("../../assets/icons/bamboo_orange.png");
        }
      }
    }
    
  }
}
