* {
  box-sizing: border-box;
  margin: 0;
}

html {
  overflow-x: hidden;
  font-size: 18px;
}

body {
  overflow-x: hidden;
  background-color: #0760fa;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}