.button {
  min-width: 90px;
  height: 30px;
  background-color: mediumspringgreen;
  border-radius: 6px;
  border: 0;
  color: #00008b;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background-color: #06d606;
  }
}