.button {
  min-width: 90px;
  height: 30px;
  background-color: #845139;
  border-radius: 6px;
  border: 0;
  color: bisque;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s;
  box-shadow: -2px -1px 2px #3f1f11;
  &:hover {
    background-color: #67341c;
  }
  &:active {
    box-shadow: none;
    transform: scale(0.95);
  }
}