.cardContainer {
  aspect-ratio: 1 / 1;
  padding: 4px;
  position: absolute;
  background: linear-gradient(-45deg, chocolate, #4f2202);
  transition: all 0.4s;
  border-radius: 10px;
}

.cardContent {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(-45deg, chocolate, #4f2202);



text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}