.header {
  background-color: darkblue;
  color: bisque;
  border-radius: 0 0 20px 20px;
}

.wrapper__header {
  justify-content: center;
}

.shadow {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.6);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: darkblue;
  @media screen and (max-width: 700px) {
    position: absolute;
    top: -100%;
    z-index: 2;
    padding: 20px;
    flex-direction: column;
    align-items: start;
    transition: all 0.5s;
    .checkSound {
      margin: 0;
    }
    &_open {
      top: 0;
      transition: all 0.5s;
    }
  }
}

.checkSound {
  margin-left: 50px;
  display: flex;
  cursor: pointer;
  div {
    position: relative;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border: 1px solid bisque;
  }
  &_active {
    div::before {
      content: "";
      position: absolute;
      width: 7px;
      height: 12px;
      border-bottom: 4px solid chartreuse;
      border-right: 4px solid chartreuse;
      transform: rotate(45deg);
      left: 3px;
      top: -1px;
    }
  }
}

.hamburger {
  width: 26px;
  height: 18px;
  margin-left: auto;
  display: none;
  transition: all 0.5s;
  &:hover {
    span {
      background-color: chocolate;
    }
  }
  &_open {
    transform: rotate(90deg);
    transition: all 0.5s;
  }
  span {
    display: inline-block;
    width: 26px;
    height: 2px;
    background-color: bisque;
  }
  @media screen and (max-width: 700px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 5;
  }
}
