.header {
  background-color: rgba($color: $bgColor, $alpha: 0.8);
  color: azure;
  font-size: 2rem;
  padding: 10px 50px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    @media screen and (max-width: 760px) {
      padding: 0;
      font-size: 1.6rem;
    }
  }

  h1 {
    text-shadow: 1px -5px 8px #c28711,
                 2px -7px 25px red,
                 2px -7px 30px red,
                 2px -7px 35px red,
                 2px -7px 40px red;
  }
}
